{% extends "base.html" %}

{% block title %}Lista de Nodos{% endblock %}
{% block header_title %}Lista de Nodos{% endblock %}

{% block content %}
<ul>
  {% for nodo in nodos %}
    {% set node_id = nodo.split('_')[-1] %}
    <li>
      <a href="{{ url_for('seleccionar_grafica', nodo_id=nodo) }}">
        {{ nombres.get(node_id, nodo) }}
      </a>
    </li>
  {% endfor %}
</ul>

{% endblock %}

{% block extra_scripts %}
<script>
  setInterval(() => {
    window.location.reload();
  }, 5000);
</script>
{% endblock %}
