<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Gráfica</title>
</head>
<body>
    <h1>Seleccionar Gráfica para {{ nodo_id }}</h1>
    <ul>
        <li><a href="/graficas/{{ nodo_id }}/temperature">Temperatura</a></li>
        <li><a href="/graficas/{{ nodo_id }}/humidity">Humedad</a></li>
        <li><a href="/graficas/{{ nodo_id }}/pressure">Presión</a></li>
    </ul>
</body>
</html>
